/*
 * Google Fonts
 */
/* Logo
 */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Subtitle
 */
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

h1
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

h2
{
  font-family: "Tulpen One", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 0px;
}